* {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    padding: 30px 6%;
}

/* Variables */
:root {
    --border: 1px solid #CCCCCC;
    --border-radius: 4px;
    --text-color: #808080;
    --title-color: #1B8DED;
}

