.header-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.status-bar-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}

